/* To change the font change it below*/
/* $baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen); */


$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

/*The code below removes the drop shadow on the nav bar*/
/*.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}
*/

.footer {

	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}